* {
    box-sizing: border-box;
    max-width: 100%;  /* Ensures nothing exceeds the screen width */
}


body {
    background-color: rgb(215, 236, 255);
    margin: 0;
    
}

.titleDiv{
    background-color: lightblue;
    background-image: url('assets/hongkong.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 250px;
    padding-bottom: 400px;
    opacity: 0;  /* Initially invisible */
    animation: fadeIn 0.5s ease-in forwards;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    color: rgb(6, 0, 86);
    font-size: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0;  /* Initially invisible */
    animation: fadeIn 0.5s ease-in forwards;
}

h2 {
    color: navy;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    
}

h3 {
    color: rgb(200, 200, 255);
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    
}

h4 {
    color: navy;
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    font-family:'Times New Roman', Times, serif;
    
}

p1 {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 8%;
    padding-right: 8%;
    font-family: "Times New Roman", Times, serif;
}

p2 {
    color: white;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Times New Roman", Times, serif;
}

teamPic{
    size: 1px;
  }


pTeam{
    padding-left: 8%;
    display: inline-block;
    width: 100%;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

pTeam2{
    padding-left: 24px;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

pTeamLarge{
    margin-top: 5px;
    padding-left: 5%;
    display: inline-block;
    width: 100%;
    font-size: 30px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    color: rgb(0, 0, 130)
}

.teamMember h2 {
    text-align: left;
    padding-left: 4%;
}

.teamMember h4 {
    text-align: left;
    padding-left: 4%;
}

.myDiv{
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 50px;
    margin-top: 40px;
    background-color: rgb(215, 245, 255);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teamDiv{
    padding-top: 50px;
    
}

.teamMember {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px; /* space between photo and text */
    padding: 20px;
}

.teamMember img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    object-fit: cover;
    align-self: center;
}

.teamInfo {
    flex: 1; /* allows the text to take up remaining space */
    text-align: left;
}

.teamPhoto {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers name & role under photo */
    text-align: center;
}

.teamPhoto h2 {
    padding-top: 10px;
    font-size: 30px;
    color: navy;
}

.teamPhoto h4 {
    font-size: 20px;
}
  

.contactDiv{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(0, 0, 127);
    font-family: Georgia, serif;
}

.topnav {
    background-color: #38acff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  .topnav b {
    float: left;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 12px 16px;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    font-size: 22px;
  }
  
  .topnav a:hover {
    background-color: hsl(211, 100%, 62%);
    color: black;
  }
  
  .topnav a.active {
    background-color: hsl(211, 100%, 50%);
    color: rgb(0, 0, 0);
  }

.topnav img{
    height: 44px;
}

.google-map {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    
}

.google-map iframe {
    width: 500px;
    height: 300px;
}

@media screen and (max-width: 600px) {
    .teamMember {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0px;
    }

    .teamMember img {
        margin-bottom: 20px;
    }

    .teamMember h2 {
        margin-top: 0;
        text-align: center;
        padding-left: 0;
    }
    
    .teamMember h4 {
        text-align: center;
        padding-left: 0;
    }

    .teamMember img {
        margin: 0;
        width: 250px;
        
    }
     pTeamLarge{
        font-size: 24px;
     }
     pTeam{
        font-size: 18px;
     }
}